* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --background: #0a0b0f;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --switch-background-url: url(./assets/moon-stars.svg);
  --bg-list: #1e232d;
  --color-gradient: linear-gradient(45deg, #d4145a, #ff4b2b);
}

.light {
  --text-color: black;
  --background: #dfe0e1;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-background-url: url(./assets/sun-stars.svg);
  --bg-list: #cdced0;
  --color-gradient: linear-gradient(45deg, #0ebeff, #ff42b3);
}

body {
  background: var(--background) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-background-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.4s forwards;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--color-gradient);
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;
}

a span {
  position: relative;
  z-index: 1;
}

ul li a:before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-list);
  border-radius: 7px;
  transition: 0.5s;
}

ul li a:hover:before {
  opacity: 0.7;
}

ul li a:after {
  content: "";
  position: absolute;
  inset: 0px;
  background: var(--color-gradient);
  border-radius: 7px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

ul li a:hover:after {
  opacity: 1;
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}


@keyframes slide-in {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}
